/*Color Library, source: https://www.schemecolor.com/black-gray-and-purple.php */

#ChineseBlack {color: rgb(20, 20, 20)}
#GraniteGray {color: rgb(102, 102, 102)}
#Gray {color: rgb(129, 129, 129)}
#Argent {color: rgb(191, 191, 191)}
#KSUPurple {color: rgb(80, 39, 133)}
#PlumpPurple {color: rgb(94, 76, 178)}

/*UNIVERSAL STYLES - Start*/

body {
    margin: 0%;
    font-family: 'Red Hat Display', sans-serif;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/*End*/

/*HEROBOX SECTION - Start*/

ul.top-nav-bar {
    overflow: scroll;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: -3em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    list-style-type: none;
}

li.nav-bar-button {
    display: inline;
    padding-left: 1em;
    padding-right: 1em;
}

i {
    color: rgb(20, 20, 20);
    opacity: 0.75;
}

i:hover {
    opacity: 1;
}

div.herobox {
    overflow: scroll;
    margin-top: 0%;
    margin-bottom: 0%;
    width: 100%;
    height: 50em;
    background-image: url(Office-Image-Photo-by-Gabriel-Beaudry-on-Unsplash.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

p.herobox-paragraph {
    margin-top: 3em;
    vertical-align: middle;
    text-align: center;
    background-color: rgba(20, 20, 20, 0.75);
    color: rgb(94, 76, 178);
    font-size: 5em;
}

/*End*/

/*ABOUT SECTION - Start*/

div.about-box {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    text-align: center;
    background-color: rgb(20, 20, 20);
    border-bottom-color: rgb(80, 39, 133);
    border-bottom-width: 1em;
    border-bottom-style: solid;
}

p.about-box-title {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: rgb(94, 76, 178);
    font-size: 2em;
    text-decoration-line: underline;
}

p.about-box-paragraph {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    text-indent: 1em;
    color: rgb(191, 191, 191);
    font-size: 1em;
    line-height: 1.75em;
}

/*End*/

/*PORTFOLIO TABLE - Start*/

div.main-body-box {
    overflow: scroll;
}

table.portfolio {
    width: 90em;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 1em 3em;
}

img.portfolio-image {
    width: 60em;
    height: 20em;
    display: block;
}

td.table-button {
    text-align: center;
    font-weight: bold;
    background-color: rgb(191, 191, 191);
    border-color: rgb(191, 191, 191);
    border-width: 10px;
    border-style: solid;
}

td.table-button:hover {
    border-color: rgb(80, 39, 133);
    border-width: 1em;
    border-style: solid;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 1000,
    'GRAD' 0,
    'opsz' 48;
    padding-top: 1em;
    vertical-align: bottom;
}

.button-name {
    vertical-align: bottom;
    font-size: 1.25em;
}

div.button-description {
    padding-top: 1em;
    font-size: 1em;
}

td.table-button a:link {
    padding-top: 8em;
    padding-bottom: 10em;
    color: rgb(20, 20, 20);
}

td.table-button a:visited {
    color: rgb(20, 20, 20);
}

td.table-button a:hover {
    color: rgb(20, 20, 20);
}

td.table-button a:active {
    color: rgb(20, 20, 20);
}

/*End*/

/*FOOTER SECTION -- Start*/

div.footer {
    width: 100%;
    overflow: scroll;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(20, 20, 20);
    border-top-color: rgb(80, 39, 133);
    border-top-width: 1em;
    border-top-style: solid;
}

p.end-paragraph {
    width: 50%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    color: rgb(191, 191, 191);
    font-size: 1.25em;
    line-height: 2em;
}

p.end-paragraph a:link {
    color: rgb(191, 191, 191);
}

p.end-paragraph a:visited {
    color: rgb(191, 191, 191);
}

p.end-paragraph a:hover {
    color: rgb(191, 191, 191);
    text-decoration-line: underline;
}

p.end-paragraph a:active {
    color: rgb(191, 191, 191);
    text-decoration-line: underline;
}

p.copyright {
    color: rgb(191, 191, 191);
    font-size: 1em;
}

/*End*/