body {
    margin: 0%;
}

/*Overall Icon Settings - Start*/

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 1000,
    'GRAD' 0,
    'opsz' 48
}

.material-symbols-outlined {
    vertical-align: middle;
    padding-right: 0.25em;
}

/*End*/

/*Left Nav Bar - Start*/

ul.left-nav-bar {
    position: fixed;
    display: block;
    overflow: scroll;
    float: left;
    text-align: center;
    width: 8em;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: rgb(0, 0, 0);
    border-right: 5px solid rgb(158, 29, 134);
    font-family: 'Red Hat Display', sans-serif;
}

.nav-bar-button-label {
    vertical-align: middle;
}

li.nav-bar-button, li.active-nav-bar-button {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

li.nav-bar-button span.material-symbols-outlined, li.nav-bar-button {
    color: rgb(255, 255, 255);
}

li.active-nav-bar-button span.material-symbols-outlined, li.active-nav-bar-button {
    color: rgb(128, 128, 128);
}

li.nav-bar-button span.material-symbols-outlined:hover, li.nav-bar-button:hover {
    background-color: rgb(158, 29, 134);
}

li.nav-bar-button a:link, li.nav-bar-button a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/*End*/

/*Main Text Boxes - Start*/

div.welcome-header, div.portfolio-paragraph, div.about-me-paragraph, div.contact-page-header, div.resume-page-header,
div.contact-form, footer {
    overflow: auto;
    display: block;
    margin-left: 27.5em;
    margin-top: 2em;
    margin-right: 19.5em;
    width: 40em;
    height: 100%;
    text-align: center;
    background-color: rgba(247, 244, 234, 0.5);
    border-right: 5px solid rgb(158, 29, 134);
    font-family: 'Red Hat Display', sans-serif;
    line-height: 1.75em;
}

div.text-boxes {
    float: left;
    text-align: center;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
}

/*End*/

/*PORTFOLIO SECTION LIST ON LANDING PAGE - Start*/

ul.portfolio-category-list {
    display: inline-block;
    margin: 0%;
	text-align: left; 
    list-style-type: none;
}

li.portfolio-category {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

li.portfolio-category:hover {
    font-size: larger;
}

li.portfolio-category span.material-symbols-outlined {
    margin-left: -1.75em;
    color: rgb(158, 29, 134);
}

/*End*/

/*RESUME PRESENTATION WINDOW ON RESUME PAGE - Start*/

iframe {
    display: block;
    width: 60em;
    height: 140em;
    overflow: scroll;
    margin-left: 17em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-right: 9em;
    border-right: 5px solid rgb(158, 29, 134);
}

/*End*/

/*CONTACT FORM ON CONTACT PAGE - Start*/

form {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

label {
    width: 10em;
    display: inline-block;
    text-align: right;
    color: rgb(0, 0, 0);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.15em;
    font-weight: bold;
}

textarea {
    resize: none;
}

input[type=text], input[type=email], textarea {
    width: 15.25em;
    margin-left: 1em;
    vertical-align: top;
    margin-bottom: 0.5em;
    border: 2px solid rgb(54, 69, 79);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.15em;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
    outline: none;
    border: 2px solid rgb(158, 29, 134);
}

button {
    padding-top: 1em; 
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1em;
    border-style: hidden;
    border-radius: 4px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    cursor: pointer;
}
  
button:hover, button:active {
    border-style: solid;
    border-width: 3px;
    border-color: rgb(158, 29, 134);
}

/*End*/